<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/statedsl/StateDSL"
			class = "org.xtext.example.statedsl.stateDSL.StateDSLPackage"
			genModel = "model/generated/StateDSL.genmodel" />
	</extension>
</plugin>
